<div class="row">
  <div class="col-md-5">
    <!-- now solved with a service -->
    <!-- (recipeWasSelected)="selectedRecipe = $event" -->
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <!-- solved with router-outlet -->
    <!-- <app-recipe-detail
      *ngIf="selectedRecipe; else pleaseSelect"
      [recipe]="selectedRecipe"
    ></app-recipe-detail>
    <ng-template #pleaseSelect> Please select a Recipe! </ng-template> -->
    <router-outlet></router-outlet>
  </div>
</div>
